<div class="container">

<p id="notice"><%= notice %></p>

<div class="container">
<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Warning!</h4>
  <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
</div>

<p>
  <strong>User:</strong>
  <%= @listing.user.first_name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @listing.start.strftime("%d/%m/%y: %H:%M:%S %Z") %>
</p>

<p>
  <strong>End:</strong>
  <%= @listing.end.strftime("%d/%m/%y: %H:%M:%S %Z") %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Details:</strong>
  <%= @listing.details %>
</p>

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Listing views:
  </li>
</ul>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

</div>
