<div class="container">
  <% unless user_signed_in? %>
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><strong>To view listings, please create an account or log in</strong></p>
    </div>
  <% end %>

  <div class="jumbotron home-jumbotron">
    <div class="opacity-layer">
      <%= image_tag 'dog-logo.png' %>
      <h1>Welcome to K9 KRIBZ</h1>
      <p>Connecting dog owners and dog sitters</p>
      <p>
        <%= link_to 'Create an Account', '/users/sign_up', class: "btn btn-primary btn-lg" %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Intelligent dog agrees - it's the smarter choice</h3>
        </div>
        <div class="panel-body">
          <%= image_tag 'intelligent_dog.png', class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Browse listing for free, upgrade to message other users</h3>
        </div>
        <div class="panel-body">
          <%= image_tag 'bad_pun_dog.png', class: "img-responsive" %>
        </div>
      </div>
    </div>
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Upgrade to a pro membership for only $5.00!</h3>
      </div>
      <div class="panel-body">
        <%= image_tag 'doge.png', class: "img-responsive" %>
      </div>
    </div>
  </div>
  </div>
