<div id="map"></div>
<script>

  function initMap() {

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: {
        lat: -27.469703,
        lng: 153.025190
      }
    });

    // Create an array of alphabetical characters used to label the markers.
    var labels = 'X';

    var infowindow = new google.maps.InfoWindow();

    // Add some markers to the map.
    // Note: The code uses the JavaScript Array.prototype.map() method to create an array of markers based on a given "locations" array. The map() method here has nothing to do with the Google Maps API.
    var markers = locations.map(function (location, i) {
      marker = new google.maps.Marker({
        position: location,
        label: labels[i % labels.length]
      });
      google.maps.event.addListener(marker, 'click', function() {
       infowindow.setContent('<p><strong>' + location.name + '</strong></p><p>' + location.price + '</p>');
       infowindow.open(map, this);
     });
      return marker
    });

    // Add a marker clusterer to manage the markers.
    var markerCluster = new MarkerClusterer(map, markers, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
  }

  var locations = [
    <% @listings.each do |listing| %>
    {
      lat: <%= listing.latitude %>,
      lng: <%= listing.longitude %>,
      name: '<%= listing.user.first_name %>',
      price: '$ <%= listing.price %>'
    },
    <% end %>
  ]
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_JS_API'] %>&callback=initMap"></script>
